* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #111;
    text-align: center;
}

.first-word {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 10px;
}

.second-word {
    font-size: 3rem;
    font-weight: bold;
    color: #d3a57a;
    margin-bottom: 0;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(33.333% - 2rem);
    background-color: #111;
    padding: 1rem;
    margin: 1rem;
    border-radius: none;
    border: 2px solid #d3a57a;
}

.menu-item img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
}

.menu-item p {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.cut-price {
    color: #bbb;
    text-decoration: line-through;
    font-size: 1rem;
}

.current-price {
    color: #ddd;
    font-size: 1.2rem;
}

button {
    background-color: #d3a57a;
    font-size: 1.25rem;
    color: #ffffff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 1024px) {
    .menu-item {
        flex-basis: calc(50% - 2rem);
    }
}

@media (max-width: 768px) {

    .our-title,
    .menu-title {
        font-size: 2.5rem;
    }

    .menu-item {
        flex-basis: calc(100% - 2rem);
    }

    button {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
}